
#home {
  background-color: white;
}

body {
  color: black;
  background-color: #f9f9f9;
}

.hero-head {
  position: fixed;
  width: 100%;
  height: 7rem;
  z-index: 3;
  background-color: white;

}

.hero-book-img {
  height: auto;
  max-width: 100%;
  border: .10px solid lightgray;
  /* box-shadow: 1px 1px 3px navy; */
}

.image.column {
  padding: .25rem;
}

#nav-text {
  color:#0a4386;
  font-size: larger;
}
#nav-text.scrolled {
  color:#0a4386;
}
.hero-head.scrolled {
    background-color: white !important;
    background-image: url("images/logo_small_2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: background-color 1400ms linear;
  }


#hero-title{
    margin-top: 40px;
    font-family: 'Fjalla One';
    font-size: 2.5em;
    margin-left: 50px
}

.section-header {
    color: #0a4386;
    /*padding: 5px;*/
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    font-family: 'Fjalla One';
    font-size: 3rem;
  }


.section-sub-header {
    color: #0a4386;
    /*padding: 5px;*/
    /*margin-top: 2em !important;*/
    margin-bottom: 2em !important;
    font-family: 'Fjalla One';
    font-size: 2rem;
  }



.contact {
  max-width: 20%;
}

 h3 {
    color: #0a4386;
    padding: 5px;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    font-family: 'Fjalla One';
    font-size: 1.5em;
  }

.modal-header {
    color: #0a4386;
    font-family: 'Fjalla One';
    font-size: 2.5em;
}

#hero-subtitle {
    font-weight: bold;
    font-family: 'Fjalla One';
    margin-left: 50px
    /* font-size: 1.25em */
}

#hero-subtitle.scrolled {
    color: #FFFBF4 !important;
    transition: color 600ms linear;
    /* font-size: 1.25em */
}


#navbarMenuHeroA {
  padding-top: 2em;
}

.navbar-end{
  background-color: white !important;
}

.releaseImg {
  max-width: 120px;
  margin: 10px
}

.projImg {
  max-width: 600px;

  -webkit-filter: brightness(100%);
}


#resumeThumb {
  max-width: 150px;
}

.contactImg {
  max-width: 80px;
  margin: 0 20px
}


p {
  margin-bottom: 25px
}

#headshot {
    margin-bottom: 30px;
    margin-top: -10px;
    border: 3px solid black;
    border-radius: 2.5%;
    max-width: 50%;
    max-height: auto;
}

.section-header:before, #hero-subtitle:before {
  content: " ";
  display: block;
  visibility: hidden;
}

.resume-btn {
    margin: 30px;
}

.pic {
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 11px -2px #000000; 
  box-shadow: 2px 3px 11px -2px #000000;
}

.card {
    text-align: left;
    margin: 0em !important;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px lightgray;
}

.card-image {
  border-bottom: 1px solid lightgray
}

.is-active, .navbar-item:hover {
  background-color: transparent !important;
  text-decoration: underline;
}

.sub {
  font-style: italic 
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 2em;
  padding: 0.5em 2em;
  quotes: "\201C""\201D""\2018""\2019";
}
.blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote:after {
  content: close-quote;
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.burger {
  color: #0a4386
}

.navbar-burger {
  margin-right: 2em !important;
}


@media screen and (max-width: 1088px) 
{
  .hero-head {
      height: 7rem;
      background-color: white !important;
      background-image: url("images/logo_small_2.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

  #first-book-row {
    margin-top: 5em !important;
  }

  #banner-logo {
    display: none !important;
  }
  .container {
    margin: auto 2em !important;
  }
  .contact {
    max-width: 25%;
    margin: auto !important;
  }
}


@media screen and (max-width: 800px) 
{
  .contact {
    max-width: 35%;
  }
  .hero-body {
    display: none !important;
  }
  #first-section {
    margin-top: 5em !important;
   }
  #initial-section {
    margin-top: 1em !important;
  }
}

/* Safari is the worst */
@media not all and (min-resolution:.001dpcm) {

 @media {
    .top-break {
      display: none;
    }
    #first-section {
      padding-top: 5em !important;
    }
    #initial-section {
      padding-top: 1em !important;
    }

    .hero-head {
        height: 7rem;
        background-color: white !important;
        background-image: url("images/logo_small_2.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    @media screen and (min-width: 1300px) 
    {
      
      .hero-head {
        height: 7rem;
        background-color: white !important;
        background-image: none;
      }

      #first-section {
        padding-top: 3em !important;
      }
      #initial-section {
        margin-top: 1em !important;
      }

    }
    @media screen and (max-width: 800px) 
    {
      body { 
        margin-top: -13rem;
      }
      .hero-body{
        display: none !important;
      }
    }
    @media screen and (max-width: 700px) 
    {
      body { 
        margin-top: -13rem;
      }
    }
  }
}

@media screen and (max-width: 575px) 
{
  .contact {
    max-width: 50%;
  }
}


@media screen and (max-width: 425px) 
{
  .contact {
    max-width: 75%;
  }
}

.mobileShow {display: none;} 

/* Smartphone Portrait and Landscape */ 

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .mobileShow {
    display: inline;
  }
}